@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
  .rswp__devices {
    display: none !important;
  }

  .rswp__player {
    flex-wrap: nowrap !important;
    align-items: center !important;
  }

  .rswp__controls-section,
  .rswp__volume {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  .rswp__track {
    max-width: 45% !important;
    flex: 1 !important;
  }

  .rswp__controls {
    flex: 1 !important;
    justify-content: space-around !important;
  }

  .rswp__volume {
    display: none !important; /* Optional: hide volume for more space */
  }
}



/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.raleway {
    font-family: "Raleway", serif;
}


.quicksand {
  font-family: "Quicksand", serif;
}


.oswald {
  font-family: "Oswald", serif;
}